@import "./all.scss";
.main-discount {
    background-image: url("../discountimg/4072305.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 14% 2rem;
    color: #fff;
}

.discount {
    padding: 20px;
    .title {
        margin-top: 20px;
        color: $titlecolor;
    }
    h4 {
        margin-top: 20px;
    }
}

.main-footer {
    background-color: $footercolor;
    padding: 20px 0;
    color: $textcolor;
}